
:root {

    /*Bakgrundfärg,textfärg & linje under text att använda på alla sidor*/
    --background-button: #a56bff;
    --white: #F7F7F7;
    --primary-color: #dbe1e7;
    --lightblue: #C5D7E3;
    --price: #A63004;
    --small-heading: underline;
    --box1:#D3E3FA;
    --box2:#C5D7E3;
    --box3:#D5E9F0;
    --shadows: #B0B0B0;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    font-family: 'Inter', sans-serif;
    color: rgba(60, 63, 69, 0.929);
}

h1 {
    font-size: 33px;
    margin-bottom: 1rem;
}

h2 {
    font-size: 22px;
    margin-top: 0.3rem;
    margin-bottom: 0.7rem;
}

h3 {
    text-decoration: var(--small-heading);
    font-size: 18px;
}

h4 {
    text-decoration: var(--small-heading);
    font-size: 15px;
}

p, label {
    font-size: 15px;
}

.linespacing {
    line-height: 20px;

}

p .fetaklassen {
    font-size: 17px;
}

.fetaklassen {
    font-weight: bold;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
}
.kursiva {
    font-style: italic;
}

.price {
    color: var(--price)
}

/*Button for link in index.html*/

a button {
    display:inline-block;
    padding:0.8em 1.6em;
    margin: 1em 0.1em 0.1em 0;
    background-color: var(--background-button);
    border: 0.18em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none; 
    font-family:'Roboto',sans-serif; 
    font-weight:400;
    font-size: 1rem;
    color:var(--white);
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

a button:hover {
        border-color: rgba(255,255,255,1);
        }
a button:focus {
    border-color: rgba(255,255,255,1);
}

/*Button for form.html*/

button {
    display:inline-block;
    padding:0.8em 1.6em;
    margin: 1em 0.1em 0.1em 0;
    background-color: var(--background-button);
    border: 0.18em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none; 
    font-family:'Roboto',sans-serif; 
    font-weight:400;
    font-size: 1rem;
    color:var(--white);
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

button:hover {
        border-color: rgba(255,255,255,1);
        }
button:focus {
    border-color: rgba(255,255,255,1);
}
        /*@media all and (max-width:30em){
         a.button4{
          display:block;
          margin:0.2em auto;*/



    
