* {
    
    margin: 0;
    padding: 0; 
}

body {
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background-color: aqua;
    border: 1px solid black;
    padding: 2em;
    width: 15em; 
    height: 60em;
}

.form-layout {
    display: inline-block;
    height: 40px;
    width: 200px;
    padding: 0.2em; 
    /*position: relative;*/
}


.input-name, .input-secondname, .input-adress, .input-number, .input-city, .input-phone {  
    height: 100%;
    /*position: absolute;*/
    text-align: flex-start;
    width: 100%;
    padding: 5em; 
}

input[type=text] {
    width: 100%;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    box-sizing: border-box;
  }

.phone-message {
    font-size: 0.8em;
    margin-bottom: 0.5em; 
}
.food-text, .day-text { 
    font-weight: bold;
    margin: 1em 0em 0.3em 0em;

}
.form-layout > .message-box {
    margin: 0em 4em 0em 0em; 
}

.container-info {
    width: 13em;
    height: 30em; 
    padding: 2em;
    background-color: antiquewhite;

}

