* {
    margin: 0;
    padding: 0; 
}


.header-container {
    background-color: #494a4c;
    width: 100%;
    height: 9em;
    margin: 0em;
    display: flex;
    flex-direction: row;

}
.container__image {
    width: 170px;
}
.container__list {
    
}


footer {
    margin-top: 50em; 
    height: 15em;
    width: 100%; 
    background-color: aqua;
}